.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 50px;
    align-items: flex-end;
}

.title {
    flex-grow: 5;
}

.options-container {
    flex-grow: 1;
    font-size: 1.17em;
    font-weight: bolder;
}

.table {
    margin:auto;
}

.headerRow, .row {
    display: flex;
}

.headerRow div, .row div {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}
