.percentageBar {
    display: flex;
    height: 20px;
    width: 400px;
  }
  
  .bar1, .bar2, .bar3 {
    align-items: center;
    display: flex;
  }

  .bar1 {
    background-color: #4CAF50;
  }
  
  .bar2 {
    background-color: #2196F3;
  }
  
  .bar3 {
    background-color: #f44336;
  }
  
  .tooltip {
    position: relative;
    visibility: hidden;
    width: 60px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
  }
  
  .bar1:hover .tooltip, .bar2:hover .tooltip, .bar3:hover .tooltip {
    visibility: visible;
  }

  .bar1:hover, .bar2:hover, .bar3:hover {
    cursor: pointer;
  }  

  .bar1:hover {
    box-shadow: 0 0 10px 5px #4CAF50;
  }
  .bar2:hover {
    box-shadow: 0 0 10px 5px #2196F3;
  }
  .bar3:hover {
    box-shadow: 0 0 10px 5px #f44336;
  }