.main {
    display: flex;
    align-items: center;
}

/* Table container style */
.table-container {
    width: 100%;
    overflow: auto;
    background-color: #1d1d1d;
    border-radius: 10px;
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #262626;
  }
  
  /* Table header style */
  .table-container table th {
    padding: 10px;
  }
  
  .table-container table tr {
    border: 1px solid #262626;
  }
  
  /* Table cell style */
  .table-container table td {
    padding: 20px;
  }
  
  /* Hover effect for rows */
  .table-container table tr:hover {
    background-color: #1D1D1D; /* Darker hover background color */
  }